@font-face {
  font-family: "Poppins";
  src: url("../media/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../media/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../media/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../media/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../media/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

:root{
    --color-main: #9DD9A3;
    --color-dark: #6ba371;
    --color-darker: #589F5E;
    --color-opacity: #0176be7c;
    --txt: #B5EDBA;
    --txt-light: #ddfcde;
    --bg: #072529;
    --bg1: #061d20;
    --bg2: #133539;
    --bg-color: #b5edba10;
    --opacity100: #00000000;
    --opacity50: #00000080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior:smooth;
}

body {
  background-color: var(--bg);
}

a {
  text-decoration: none;
}




/* NAVBAR */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{

  display: flex;
  width: 100%;
  position: fixed;
  z-index: 900;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: all 1s ease;
  background-color: #00000000;
}
.sticky {
  background-color: var(--bg2);
}

.navbar h1{
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

.hamburger span{
  background-color: var(--txt);
  border-radius: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--txt);
  transition: all 0.3s ease;
  opacity: 65%;
}

.nav-link:hover{
  opacity: 100%;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.home-btn {
  display: none;
}

@media only screen and (max-width: 890px) {
  .nav-menu {
    position: fixed;
    left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: var(--bg2);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
      margin: 0vw 5vw;
      max-width: 89vw;
    }
    
    .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .nav-link{
    display: block;

  }

  .nav-link:hover{
    transform: translateY(5px);
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.home-btn {
  display: block;
}}



/* .navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #00000000;
  height: 75px;
  width: 100vw;
  transition: all 0.5s ease-in-out;
  z-index: 900;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 1600px;
  padding: 0 25px;
}

.sticky {
  background-color: var(--bg2);
}

.sticky .logo a, 
.sticky .navbar-links li a {
  color: var(--txt);
} */


/* navbar logo */
.logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
  
}

.logo-static a{
  color: var(--color-main);
  transition: all 0.15s ease-in-out;

}


.logo-fluid {
  overflow-y: scroll;
  font-weight: lighter;
  max-height: 2rem;
  min-width: 114px;
}

.logo-fluid::-webkit-scrollbar {
  display: none; 
}

.logo-fluid h1{
  color: var(--color-main);
  font-weight: lighter;
  opacity: 40%;
}


/* navbar navigation */
/* .navbar-links {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 20px;
  list-style: none;
}

.navbar-links li a {
  padding: 5px 10px;
  color: var(--color-main);
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
  border: 2px solid var(--opacity100);
  border-radius: 10px;
} */

/* hamburger menu */




/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark);
}








/* CONTENT */

.content {
  width: 98vw;
  max-width: 1600px;
  padding: 25px 50px;
}

.title {
  text-justify: center;
  height: 75px;
  color: var(--txt);
}



.banner,
.bio,
.portfolio,
.contact {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.bio,
.contact {
  background-color: var(--bg1);
}

/* banner */

.banner {
  background: linear-gradient(180deg, var(--bg2), var(--bg), var(--bg), var(--bg));
}

.banner .content {
  position: relative;
}

/* blob 1 */
.blob{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  right: 30px;
  bottom: 10vh;
  z-index: 5;
  
}

.blob:nth-child(2){
  position: absolute;
  filter: blur(50px);
  z-index: 2;
}

.blob-text {
  position: absolute;
  z-index: 100;
  color: var(--bg2);
  padding-top: 10px;
  width: 300px;
  z-index: 20;
}


/* slide show */
.app {
  position: absolute;
  z-index: 1;
  bottom: calc(10vh + 70px);
  left: 0;
  
}

.tag-list {
  width: 80%;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

  .loop-slider .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: var(--txt);
  font-size: 0.9rem;
  background-color: var(--bg1);
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  box-shadow: 
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  
  }
  
  .tag span
{
    font-size: 1.2rem;
    color: var(--color-darker);
  }

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, var(--bg), transparent 30%, transparent 70%, var(--bg));
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.bio .content {
  height: 100%;
}

.bio .content p {
  color: var(--txt);
  font-size: 1.1rem;

}

.bio .content h2{
  margin: 75px 0 10px 0;
  color: var(--color-main);
}

.bio .content .loop-slider {
  overflow: hidden;
  height: 75px;
}

.bio .content .loop-slider .inner {
  max-width: 80vh;
  margin-top: 10px;
}

.history {
  list-style: none;
}

.history p.title {
  display: inline;
  opacity: 100%;
  font-weight: bold;
}

.history li {
  width: 500px;
  padding: 20px 20px 20px;
  border-radius: 25px;
  box-shadow: 
  0 0.1rem 0.2rem rgb(0 0 0 / 20%),
  0 0.1rem 0.5rem rgb(0 0 0 / 30%),
  0 0.2rem 1.5rem rgb(0 0 0 / 40%);

}

.history p.year {
  display: inline;
}

.history p {
  color: var(--txt);
  opacity: 75%;
}

.nd-li {
  margin: 25px 50px;
}

.rd-li {
  margin: 25px 100px;
}







.single-item, .item-content {
	text-align: center;
}
img, .item-content {
	transition: 0.7s all;
	border-radius: 15px;
}
.single-item {
	float: left;
	max-width: 28%;
	position: relative;
	margin: 2% 2%;
	overflow: hidden;
}
.single-item img {
	width: 100%;
	margin-bottom: -4px;
}
.single-item .item-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  padding-bottom: 25px;
}
.single-item .item-content h2 {
	font-size: 40px;
	-webkit-text-stroke: .5px white;
	color: transparent;
}
.single-item .item-content p {
	letter-spacing: 3px;
}
.single-item:hover .item-content {
	opacity: 1;
	transform: translateY(0);
}
.single-item:hover img {
	-webkit-filter: blur(5px);
	filter: blur(10px);
}







@media screen and (max-width: 1148px) {
	.single-item {
		max-width: 48%;
		margin: 1%;
	}
}
@media screen and (max-width: 767px) {
div.content {
  padding: 25px 25px;
}

.banner{
  overflow: hidden;
}


.history li p.history-p {
  font-size: 1rem;
}

.history li {
  margin-top: 25px;
  width: 100%;
  padding: 20px 20px 20px;
  border-radius: 25px;
  box-shadow: 
  0 0.1rem 0.2rem rgb(0 0 0 / 20%),
  0 0.1rem 0.5rem rgb(0 0 0 / 30%),
  0 0.2rem 1.5rem rgb(0 0 0 / 40%);
}

.nd-li {
  margin: 25px 0px;
}

.rd-li {
  margin: 25px 0px;
}

	.single-item {
		float: none;
		max-width: 80%;
		margin: 0 auto 30px;
	}
	.single-item .item-content h2 {
		font-size: 25px;
	}
	.single-item .item-content p {
		font-size: 14px;
	}
}



























@media (max-width: 800px) {
  .blob{
    left: -10px;
    bottom: 10vh;
  }

  .app {
    display: none;
    bottom: 0px;
  }

  .app .tag-list {
    left: -25vw;
    width: 150%;
    max-width: 150vw;
  }
}

@media only screen and (max-width: 430px) {
.logo-fluid{
  display: none;
}

.blob {
  left: -70px;
}}